<ul class="global__remove tab tab--remove tab--remove-mode">
  <li class="tab__item"><a class="tab__link select-global" href="#">Select All</a></li>
  <li class="tab__item">
    <a class="tab__link deselect-global" href="#">Deselect All</a>
  </li>
</ul>
