<main class="page ">
  <div class="page__item container">
    <section class="timer timer--failed ">
      <h2 class="timer__title">{{activeTask.activeTask.title}}</h2>
      <p class="timer__description">{{activeTask.activeTask.description}}</p>
      <div class="timer__estimates">

      </div>
      <div class="timer__dial">
        <svg class="timer__indicator" >
          <circle class="circle circle--failed" cx="50%" cy="50%" r="105"></circle>
        </svg>
        <div class="timer__message"><span class="timer__phase">break</span><span class="timer__time-number">{{settingsData.shortBreak.settingsValue}}</span><span class="timer__time-basic ">min</span></div>
      </div>
      <div class="timer__buttons buttons">
        <button class="buttons__item buttons__item--success" data-id="start-timer" >Start Pomodora</button>
      </div>
    </section>
  </div>
</main>
