html
    head
        link(rel='stylesheet', href='css/style.css')
    body
        each val, index in category
            hi=index
            ul
                each url in val
                    li= url
