
//Mixin for fonts
.font(@font-name) {
  font-family: @font-name[family];
  font-weight: @font-name[weight];
  font-size: @font-name[desktop-size];
  @media @laptop {
    font-size: @font-name[laptop-size];
  }
  @media @mobile-p {
    font-size: @font-name[mobile-size-portrait];
  }
  @media @mobile-l {
    font-size: @font-name[mobile-size-landscape];
  }
}

//Mixin for icons
.icon (@icon-name) {
  content: @icon-name;
  speak: none;
  font-family: "icomoon", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  //Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
//Mixin for task modifiers
//priority

.task-modifier-priority (@priority) {
  .task__indicator {
    background-color: ~"@{@{priority}}";
  }
  .task__indicator:hover {
    background-color: ~"@{@{priority}-active}";
  }
  .task__caption {
    color: ~"@{@{priority}}";
  }
}

//category
.task-modifier-category (@category) {
  .task__delete {
    background-color: ~"@{@{category}}";
  }
  .task__delete:hover {
    background-color: ~"@{@{category}-active}";
  }
}

//Mixin for color links
.colors-for-links () {
  & {
    color: @alicante;
  }
  &:hover,
  &:focus,
  &:active,
  &:visited {
    color: @hanover;
  }
}

//Mixin for Global List decorations
.global-list-decor (@color) {
  & {
    .tasks__item--caption {
      color: @color;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    height: 100%;
    width: @rem*9;
    background-color: @color;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: @rem*3;
    height: @rem*5;
    width: @rem*5;
    border-radius: @rem*5;
    background-color: @color;
    border: @rem*2 solid @adoration;
    box-shadow: 0 0 0 @rem*4 @color;
  }
}

//Mixin for buttons
.button-bg (@color) {
  &--@{color} {
    background: e("@{@{@{color}}}");
    &:hover,
    &:focus {
      background: e("@{@{@{color}-hover}}");
    }
    &:active {
      background: e("@{@{@{color}-active}}");
    }
  }
}

//Mixin for circles
.circle (@color) {
  &:before {
    content: "";
    position: absolute;
    left: -@rem*17*2;
    display: block;
    width: @rem*17;
    height: @rem*17;
    border-radius: 50%;
    background: @color;
  }
}

//Mixins for radio
.radio(@color) {
  input[type="radio"]:checked + .modal__title--@{color}:before {
    background: ~"@{@{color}}";
    box-shadow: 0 0 0 @rem*4 ~"@{@{color}}";
    border: @rem*2 solid @adoration;
  }
  .modal__title--@{color}:hover:before {
    background: ~"@{@{color}}";
    box-shadow: 0 0 0 @rem*4 ~"@{@{color}}";
    border: @rem*2 solid ~"@{@{color}}";
  }
}
