@rem: 1rem / 16px;
//color palette
//primary
@adoration: rgb(42, 63, 80);
@alicante: rgb(141, 165, 184);
@azoychka: rgb(200, 200, 200);
@beefsteak: rgb(255, 255, 255);
@hanover: rgb(130, 199, 224);
@brandywine: rgb(127, 127, 127);
@bigbeef: rgb(159, 159, 159);
@campari: rgb(26, 188, 156);
@canario: rgb(22, 160, 133);
@celebrity: rgb(14, 140, 116);
@plumer: rgb(247, 92, 76);
@raf: rgb(201, 77, 71);
@paul: rgb(188, 53, 53);
@san: rgb(89, 171, 227);
@sasha: rgb(54, 139, 197);
@stupice: rgb(35, 128, 181);
//colors for buttons
@success: campari;
@success-hover: canario;
@success-active: celebrity;

@info: san;
@info-hover: sasha;
@info-active: stupice;

@danger: plumer;
@danger-hover: raf;
@danger-active: paul;

//priority
@urgent: rgb(247, 92, 76);
@urgent-active: rgb(201, 77, 71);
@high: rgb(255, 168, 55);
@high-active: rgb(240, 142, 25);
@middle: rgb(253, 220, 67);
@middle-active: rgb(232, 189, 10);
@low: rgb(26, 188, 156);
@low-active: rgb(22, 160, 133);
//categories
@work: rgb(255, 178, 0);
@work-active: rgb(221, 143, 5);
@education: rgb(89, 171, 227);
@education-active: rgb(54, 139, 197);
@hobby: rgb(180, 112, 208);
@hobby-active: rgb(152, 73, 184);
@sport: rgb(225, 108, 101);
@sport-active: rgb(183, 78, 75);
@other: rgb(0, 212, 217);
@other-active: rgb(4, 165, 165);
//breakpoints
@laptop: ~"only screen and (max-width: 1279px)";
@mobile-l: ~"only screen and (max-width: 1024px) and (orientation:landscape)";
@mobile-p: ~"only screen and (max-width: 768px)";
//fonts
@font-family-roboto: 'Roboto', sans-serif;
@font-family-ptsans: 'PT Sans', sans-serif;
@font-message: {
  family: @font-family-roboto;
  weight: 300;
  desktop-size: @rem*36;
  laptop-size: @rem*36;
  mobile-size-portrait: @rem*36;
  mobile-size-landscape: @rem*36;
}

@font-heading-1: {
  family: @font-family-roboto;
  weight: 700;
  desktop-size: @rem*28;
  laptop-size: @rem*32;
  mobile-size-portrait: @rem*32;
  mobile-size-landscape: @rem*32;
}

@font-heading-2: {
  family: @font-family-roboto;
  weight: 700;
  desktop-size: @rem*16;
  laptop-size: @rem*16;
  mobile-size-portrait: @rem*16;
  mobile-size-landscape: @rem*16;
}
@font-heading-3: {
  family: @font-family-roboto;
  weight: 500;
  desktop-size: @rem*19;
  laptop-size: @rem*22;
  mobile-size-portrait: @rem*24;
  mobile-size-landscape: @rem*19;
}
@font-subtitle: {
  family: @font-family-roboto;
  weight: 400;
  desktop-size: @rem*17;
  laptop-size: @rem*21;
  mobile-size-portrait: @rem*19;
  mobile-size-landscape: @rem*19;
}
@font-paragraph: {
  family: @font-family-roboto;
  weight: 400;
  desktop-size: @rem*16;
  laptop-size: @rem*19;
  mobile-size-portrait: @rem*17;
  mobile-size-landscape: @rem*15;
}
@font-caption: {
  family: @font-family-ptsans;
  weight: 400;
  desktop-size: @rem*14;
  laptop-size: @rem*14;
  mobile-size-portrait: @rem*14;
  mobile-size-landscape: @rem*14;
}
//icons

@icon-add : "\e900";
@icon-arrow_circle : "\e901";
@icon-arrow-left : "\e902";
@icon-arrow-right : "\e903";
@icon-arrows-up : "\e904";
@icon-check : "\e905";
@icon-close : "\e906";
@icon-edit : "\e907";
@icon-global-list-arrow-down : "\e908";
@icon-global-list-arrow-right : "\e909";
@icon-list : "\e90a";
@icon-minus : "\e90b";
@icon-settings : "\e90c";
@icon-statistics : "\e90d";
@icon-timer : "\e90e";
@icon-tomato-error : "\e90f";
@icon-tomato-info : "\e910";
@icon-tomato-success : "\e911";
@icon-tomato-warning : "\e912";
@icon-tomato : "\e913";
@icon-trash : "\e914";

// !!not mentioned in UI guideline!!
@colorfortooltips: #cedeea;
@font-tooltip: {
  family: @font-family-roboto;
  weight: 700;
  desktop-size: @rem*12;
  laptop-size: @rem*12;
  mobile-size-portrait: @rem*12;
  mobile-size-landscape: @rem*12;
}
@font-task-date: {
  family: @font-family-roboto;
  weight: 700;
  desktop-size: @rem*11;
  laptop-size: @rem*11;
  mobile-size-portrait: @rem*11;
  mobile-size-landscape: @rem*11;
}
@font-indicator: {
  family: @font-family-ptsans;
  weight: 400;
  desktop-size: @rem*24;
  laptop-size: @rem*24;
  mobile-size-portrait: @rem*24;
  mobile-size-landscape: @rem*24;
}

@font-button: {
  family: @font-family-ptsans;
  weight: 400;
  desktop-size: @rem*18;
  laptop-size: @rem*18;
  mobile-size-portrait: @rem*18;
  mobile-size-landscape: @rem*18;
}

@font-caption2: {
  family: @font-family-ptsans;
  weight: 400;
  desktop-size: @rem*20;
  laptop-size: @rem*20;
  mobile-size-portrait: @rem*20;
  mobile-size-landscape: @rem*20;
}
@font-subtitle2: {
  family: @font-family-roboto;
  weight: 300;
  desktop-size: @rem*22;
  laptop-size: @rem*22;
  mobile-size-portrait: @rem*22;
  mobile-size-landscape: @rem*22;
}
