<div class="modal modal__remove-task">
  <div class="modal__content">
    <form action="" method="get" class="modal__form" name="modal">
      <h2 class="modal__caption">Remove Task</h2>
      <p class="modal__message">Are you sure you want to remove selected task(s)?</p>
      <button class="modal__close modal__close--remove-task"><span class="sr-only">Close modal</span></button>
      <div class="modal__removecancel buttons">
        <button class="buttons__item buttons__item--info button--close ">Cancel</button>
        <button class="buttons__item buttons__item--danger button--remove">Remove</button>
      </div>
    </form>
  </div>
</div>
