<div class="modal modal__edit">
  <div class="modal__content">
    <form action="" method="get" class="modal__form" name="modal">
      <h2 class="modal__caption">Edit Task</h2>
      <ul class="modal__list">
        <li class="modal__item "><label for="title" class="modal__title">TITLE</label><input id="title" class="modal__text-input" type="text" placeholder="Add title here" required></li>
        <li class="modal__item "><label for="description" class="modal__title">DESCRIPTION</label><input id="description" class="modal__text-input"  type="text" placeholder="Add description here" required></li>
        <li class="modal__item"><fieldset class="modal__field" name="category">
          <legend class="modal__title" >CATEGORY</legend>
          <input id="work" type="radio" name="category" value="work" checked> <label class="modal__title modal__title--small modal__title--work" for="work">Work</label>
          <input id="education" type="radio" name="category" value="education"> <label class="modal__title modal__title--small modal__title--education" for="education">Education</label>
          <input id="hobby" type="radio" name="category" value="hobby"> <label class="modal__title modal__title--small modal__title--hobby" for="hobby">Hobby</label>
          <input id="sport" type="radio" name="category" value="sport"> <label class="modal__title modal__title--small modal__title--sport" for="sport">Sport</label>
          <input id="other" type="radio" name="category" value="other"> <label class="modal__title modal__title--small modal__title--other" for="other">Other</label>
        </fieldset></li>
        <li class="modal__item"><label class="modal__title" for="deadline">DEADLINE</label><input class="modal__text-input" id="deadline" type="date" required ></li>
        <li class="modal__item"><fieldset class="modal__field modal__field--pomodoro" name="estimation">
          <legend class="modal__title">ESTIMATION</legend>
          <input class="modal__pomodoro modal__pomodoro--checked" id="1-pomodoro" type="radio" name="estimation" value="1"><label class="modal__estimate" for="1-pomodoro"></label>
          <input class="modal__pomodoro modal__pomodoro--checked" id="2-pomodoro" type="radio" name="estimation" value="2"><label class="modal__estimate" for="2-pomodoro"></label>
          <input class="modal__pomodoro" id="3-pomodoro" type="radio" name="estimation" value="3" checked> <label class="modal__estimate" for="3-pomodoro"></label>
          <input class="modal__pomodoro" id="4-pomodoro" type="radio" name="estimation" value="4"><label class="modal__estimate" for="4-pomodoro"></label>
          <input class="modal__pomodoro" id="5-pomodoro" type="radio" name="estimation" value="5"><label class="modal__estimate" for="5-pomodoro"></label>
        </fieldset></li>
        <li class="modal__item" ><fieldset class="modal__field" name="priority">
          <legend class="modal__title">PRIORITY</legend>
          <input id="urgent" type="radio" name="priority" value="1" checked> <label class="modal__title modal__title--small modal__title--urgent" for="urgent">Urgent</label>
          <input id="high" type="radio" name="priority" value="2"><label class="modal__title modal__title--small modal__title--high" for="high">High</label>
          <input id="middle" type="radio" name="priority" value="3"> <label class="modal__title modal__title--small modal__title--middle" for="middle">Middle</label>
          <input id="low" type="radio" name="priority" value="4"> <label class="modal__title modal__title--small modal__title--low" for="low">Low</label>
        </fieldset></li>
      </ul>
      <button class="modal__close" type="button"><span class="sr-only">Close</span></button>
      <button class="modal__submit modal__submit--edit" type="submit"><span class="sr-only">Submit</span></button>
      <button class="modal__remove" type="button"><span class="sr-only">Remove task</span></button>
    </form>
  </div>
</div>
