@import (css) url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:300,400,500,700');

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?hddh2v");
  src: url("../../fonts/icomoon.eot?hddh2v#iefix") format("embedded-opentype"),
  url("../../fonts/icomoon.ttf?hddh2v") format("truetype"),
  url("../../fonts/icomoon.woff?hddh2v") format("woff"),
  url("../../fonts/icomoon.svg?hddh2v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


