@import ( reference ) '~@less-helpers-module/_mixins.less';
@import ( reference ) '~@less-helpers-module/_variables.less';
.tooltip {
  .font(@font-tooltip) !important;

  background: @colorfortooltips !important;
  color: @adoration !important;

    &::before {
      content: "";
      position: absolute;
      top: -@rem*10;
      left: @rem*20;
      margin-left: @rem*(-5);
      border-width: @rem*5;
      border-style: solid;
      border-color: transparent transparent @colorfortooltips transparent;
    }
}
