.user-list {
	display: flex;
	max-width: 1240px;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style-type: none;
}

.user-list__item {
	position: relative;
	margin-top: 30px;
	width: 17.5rem;
}

.user-list__item:hover .person-profile-body {
	background: rgb(57, 194, 215);
}

.uui-person-vertical-profile .person-profile-footer {
	padding-top: 30px;
	padding-bottom: 50px;
}

.uui-person-vertical-profile .person-profile-body .person-profile-section {
	padding: 30px;
}

.uui-person-vertical-profile .person-profile-footer .person-profile-section .uui-button {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
}

.user-list__item:hover .uui-person-vertical-profile .person-profile-footer .person-profile-section .uui-button {
	display: block;
!important;
	background: rgb(163, 198, 68);
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.uui-modal .modal-header .modal-title {
	text-align: center;
}
.modal-body {
	position: relative;
}
.modal-body .uui-person-horizontal-profile {
	background: transparent;
}

.email {
	color: rgb(57, 194, 215);
}
.email a{
	text-transform: lowercase;
}

.job-title {
	color: rgb(163, 198, 68);
}

.person-profile-more {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	margin-top: 20px;
	text-transform: uppercase;
}
.person-profile-item {
	width: 130px;
}
.modal .person-profile-footer {
	padding:0;
	min-height:80px;
}
.modal .uui-person-vertical-profile .person-profile-body .person-profile-section {
	padding: 15px 0 0;
	width: 130px;
	word-break: break-all;
}

.modal .uui-person-vertical-profile .person-profile-body--blue {
	background: rgb(57, 194, 215);
}

.modal .uui-person-vertical-profile .person-profile-body--grey {
	background: rgb(102, 102, 102);
}

.modal .uui-person-vertical-profile .person-profile-body--fucsia {
	background: rgb(228, 68, 95);
}

.modal .uui-person-vertical-profile .person-profile-body--lime-green {
	background: rgb(163, 198, 68);
}

.modal .person-profile-footer--blue {
	border-color: rgb(57, 194, 215);
}

.modal .person-profile-footer--grey {
	border-color: rgb(102, 102, 102);
}

.modal .person-profile-footer--fucsia {
	border-color: rgb(228, 68, 95);
}

.modal .person-profile-footer--lime-green {
	border-color: rgb(163, 198, 68);
}

.modal .title {
	margin-top: 20px;
}
.modal .person-profile-info {
	color: white;
}
.uui-person-horizontal-profile .person-profile-body .person-profile-section .person-profile-info h2 {
	text-transform: uppercase;
}
.modal .fa-male {
	color: rgb(255,155,25);
	position: absolute;
	top:40px;
	right: 40px;
}
.modal .uui-person-vertical-profile .person-profile-footer .person-profile-section {
padding-left:0;
	padding-right:0;
}
.modal .uui-person-horizontal-profile .person-profile-body .person-profile-section .person-profile-photo {
	display: block;
	flex-shrink: 0;
}
.modal .uui-person-horizontal-profile .person-profile-body .person-profile-section {
display: flex;
}