<header class="header header--no-sticky">
  <div class="header__item  header__item--no-sticky container">
    <h1 class="header__logo header__logo--no-sticky logo">
      <a class="logo__link" href="#">
        <img class="logo-image" src="../images/Logo.svg" alt="logo" width="242"
             height="74"></a>
    </h1>
    <nav class="navigation">
      <ul class="menu">
        <li class="menu__item">
        <button
          class="page__add-button page__add-button--header hidden" type="button"><span class="sr-only">Add task button</span></button>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link menu__link--icon-list "><span class="sr-only">Go to Task list</span></a>
        </li>
        <li data-tooltip="Go to Reports" class="menu__item menu__item--icon-statistics">
          <a href="" class="menu__link menu__link--icon-statistics "><span class="sr-only">Go to Reports</span></a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link menu__link--icon-settings menu__link--active "><span class="sr-only">Go to Settings</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
