@import ( reference ) '~@less-helpers-module/_mixins.less';
@import ( reference ) '~@less-helpers-module/_variables.less';
.task {
  position: relative;
  margin-bottom: @rem*9;
  min-height: @rem*87;
  display: flex;
  vertical-align: middle;
  background-color: @beefsteak;
  box-shadow: 0 @rem*5 @rem*8.3 @rem*1.7 rgba(34, 56, 73, 1);

  &:last-child {
    margin-bottom: 0;
  }

  &--urgent {
    .task-modifier-priority (urgent);
  }

  &--high {
    .task-modifier-priority (high);
  }

  &--middle {
    .task-modifier-priority (middle);
  }

  &--low {
    .task-modifier-priority (low);
  }

  &--work {
    .task-modifier-category (work);
  }

  &--education {
    .task-modifier-category (education);
  }

  &--hobby {
    .task-modifier-category (hobby);
  }

  &--sport {
    .task-modifier-category (sport);
  }

  &--other {
    .task-modifier-category (other);
  }

  &--done {
    opacity: 0.8;

    .task__caption {
      text-decoration: line-through;
    }

    .task__edit-tools {
      display: none;

    }

    .task__toggle {
      opacity: 1;
    }

    .task__indicator:hover:before {
      .icon(@icon-tomato);
      color: @beefsteak;
    }

    .task__indicator:hover {
      color: @beefsteak;
    }

    .task__indicator {
      cursor: default;
    }
  }


  &--delete {
    position: relative;

    .task__delete {
      width: 100%;
    }
    .task__delete:before {
      position: absolute;
      top: 50%;
      left: 50%;
      .icon(@icon-trash);
      transform: translate(-50%, -50%);
      font-size: @rem*45;
      color: @beefsteak;
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }

  &--delete-checked {
    .task__delete:before {
      content: @icon-close;
    }
  }

  &--overdue {
    .task__date {
      color: @plumer;
    }
  }

  &__toggle {
    position: relative;
    min-width: @rem*94;
    margin: 0;
    text-align: center;
  }

  &__date {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: @bigbeef;
    .font(@font-task-date);
  }

  &__date-day {
    display: block;
    font-size: @rem*27;
    text-align: center;
  }

  &__delete {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: @rem*9;
    height: 100%;
    transition-timing-function: ease;
    transition: width 1s;
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: @rem*87;
    width: 100%;
    margin-left: @rem*15;
  }

  &__caption {
    display: block;
    margin: 0;
    .font(@font-heading-3);
  }

  &__details {
    display: block;
    margin: 0;
    padding-top: @rem*5;
    .font(@font-paragraph);
    color: @brandywine;
  }

  &__edit-tools {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    padding: @rem*10 0;
  }

  &__indicator {
    position: relative;
    border: 0;
    margin: 0;
    min-width: @rem*87;
    background-color: red;
    .font(@font-indicator);
    color: @beefsteak;
    cursor: pointer;
  }

  &__indicator:hover {
    color: transparent;
  }

  &__indicator:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: @rem*50;
    color: @beefsteak;
    .icon(@icon-tomato);
  }

  &__indicator:hover:before {
    .icon(@icon-timer);
  }

  &__edit {
    position: relative;
    display: block;
    padding: 0 @rem*35;
    width: @rem*16;
    height: @rem*16;
    color: @azoychka;
    font-size: @rem*16;
    cursor: pointer;
    border: 0;
    background: none;

    &:before {
      position: absolute;
      transform: translate(-50%, -50%);
      .icon(@icon-edit);
    }

    &:hover,
    &:active {
      color: @alicante;
    }

    &:focus {
      color: @hanover;
    }
  }

  &__shift {
    position: relative;
    display: block;
    width: @rem*16;
    height: @rem*16;
    padding: 0 @rem*35;
    color: @azoychka;
    font-size: @rem*16;
    cursor: pointer;
    border: 0;
    background: none;

    &:before {
      position: absolute;
      transform: translate(-50%, -50%);
      .icon(@icon-arrows-up);
    }

    &:hover,
    &:active {
      color: @alicante;
    }

    &:focus {
      color: @hanover;
    }
  }
}
