$success-background: rgb(39,174,96);
$warning-background: rgb(241,196,15);
$danger-background: rgb(231,76,60);
$info-background: rgb(41,128,185);
$default-background: rgb(69,76,77);
$success-shadow: rgb(22,140,72);
$warning-shadow: rgb(204,166,13);
$danger-shadow: rgb(170,52,40);
$info-shadow: rgb(28,95,138);
$default-shadow: rgb(28,28,28);
$button-text-color: #fafafa;

