@font-face {
	font-family: 'Ek Mukta';
	src: url('../fonts/EkMukta-Regular.eot');
	src: url('../fonts/EkMukta-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/EkMukta-Regular.woff2') format('woff2'),
	url('../fonts/EkMukta-Regular.woff') format('woff'),
	url('../fonts/EkMukta-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.bar {
	display: block;
	margin: 0 0 0.125rem 0;
	width: 1.125rem;
	height: 0.1875rem;
	background-color: white;
	border-radius: 0.0625rem;
}

.container {
	max-width: 1025px;
	margin: 0 auto;
}

@media screen and (min-width: 1250px) {
	.container {
		max-width: 1025px;
	}
}

.container_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0.8125rem 0.0625rem 0.9375rem;
}

@media screen and (min-width: 1250px) {
	.container_header {
		padding: 0;
	}
}

.link {
	text-decoration: none;
}

.logo {
	margin: 0;
	width: 6.5rem;
	height: auto;
}

@media screen and (min-width: 1250px) {
	.logo {
		width: 11.125rem;
		height: 2.75rem;
		margin-left: 1.75rem;
	}
}

.logo__img {
	width: 100%;
}

.list {
	margin: 0;
}

.menu {
	display: none;
	justify-content: space-around;
	list-style-type: none;
	margin-top: 0.875rem;
	padding: 0;
}
@media screen and (min-width: 1250px) {
	.menu {
		display: flex;
	}
}

.menu__item {
	display: block;
	margin-top: 1.5625rem;
	padding-bottom: 0.8125rem;
}

.menu__link {
	font-family: 'Ek Mukta';
	width: 24.625rem;
	height: 1rem;
	font-size: 1.26875rem;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.0125rem;
	text-align: left;
	color: #6c6c6c;
	padding-bottom: 0.625rem;
}

.menu__link_active {
	border-bottom: 0.1875rem solid #5094f2;
}

.toggle {
	text-align: center;
	padding: 0.3125rem 0.3125rem 0.1875rem 0.3125rem;
	display: inline-block;
	background-color: #5094f2;
	border-radius: 0.0625rem;
}

@media screen and (min-width: 1250px) {
	.toggle {
		display: none;
	}
}

@media screen and (min-width: 1250px) {
	.nav {
		width: 43%;
	}
}
