<div class="notification__wrapper">
  <div class="notification notification--{{type}}">
    <span class="notification__indicator"><span class="sr-only">{{type}}</span></span>
    <p class="notification__message">{{text}}</p>
    <button class="notification__close-button"><span class="sr-only">Close notification</span></button>
  </div>
</div>
