html,body  {
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size:20px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.hide {
    display:none;
}
.header {
    margin:0;
    background-color:black;
   padding-top:15px;
    padding-bottom:25px;
    position:sticky;
    top:0;
    z-index:1;
}
.menu {
    list-style-type:none;
    padding:0;
    margin:0 25px;

}
.menu_item {
    padding:10px;

    cursor:pointer;
    color:white;
}
.menu_item__logo {
    background-color:#f44336;
    float:left;
}
.menu_item__link2 {
    background-color:#2196f3;
    float:right;
}
.menu_item__link1 {
    background-color:#1f4c70;
    float:right;
}



.container {
    max-width:980px;
    margin:0 auto;
}
.boxing {
    background-color:lightgrey;
    padding:20px;
}

.image {
    float:right;
    width:400px;
    height:200px;
    position:relative;
    display:table;
}
.image_overlay {

    display:table;
    height:100px;
    width:400px;
    background-color:rgba(112,61,52,0.8);
    position:absolute;
    bottom:0;
    margin:0;
    color:white;
    font-weight:bold;
}
.image_item {
    display:block;
    width:100%;
}
.image_label {
    display:table-cell;
    margin:0;
    text-align:center;
    vertical-align: middle;
}