/* Styles here */
.container{
    max-width:80%;
    margin:0 auto;
}
.content {
    border: 1px solid gray;
}
.content-block {
    min-height: 400px;
}
.tabs{
    display:flex;
    list-style-type: none;
    justify-content: flex-start;
    padding:0;
    margin:0;

}
.tabs__item{
    margin:0 0.3rem;
    padding:0.3rem;
    background-color: #ccc;
    border: 1px solid gray;
    border-bottom:0;
}
.tabs__item:hover {
    background-color: #ddd;
}

.tabs__item--active {
    background: #FFF;
}
a{
    color:black;
    text-decoration: none;
}
a:visited{
    color:black;
}
