@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list__item {
  margin-top: 6.25rem;
}

.buttons__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttons__caption {
  margin: 7.5rem 0 1.25rem 1.25rem;
}

.checkboxes__caption {
  margin: 12rem 0 6.875rem 0;
}
.checkboxes__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 21.875rem;
}

.tabs {
  padding-bottom: 15rem;
}
.tabs__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin-top: 9.875rem;
}
.tabs__list_full {
  width: 63%;
}
.tabs__list-inner {
  border-bottom: 0.125rem solid #e1e5e6;
}
.tabs__caption {
  margin-top: 9.375rem;
}
.tabs__list-inner_full {
  overflow: hidden;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #e1e5e6;
}

.btn_success {
  display: inline-block;
  padding: 2rem 6rem;
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0 0 #168c48, inset -0.3125rem 0 3.125rem 0 rgba(0, 0, 0, 0.1);
  background-color: #27ae60;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #27ae60, #27ae60);
  cursor: pointer;
}
.btn_success:hover {
  box-shadow: none;
}
.btn_success:active {
  box-shadow: inset 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.21);
}
.btn_warning {
  display: inline-block;
  padding: 2rem 6rem;
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0 0 #cca60d, inset -0.3125rem 0 3.125rem 0 rgba(0, 0, 0, 0.1);
  background-color: #f1c40f;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #f1c40f, #f1c40f);
  cursor: pointer;
}
.btn_warning:hover {
  box-shadow: none;
}
.btn_warning:active {
  box-shadow: inset 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.21);
}
.btn_danger {
  display: inline-block;
  padding: 2rem 6rem;
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0 0 #aa3428, inset -0.3125rem 0 3.125rem 0 rgba(0, 0, 0, 0.1);
  background-color: #e74c3c;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #e74c3c, #e74c3c);
  cursor: pointer;
}
.btn_danger:hover {
  box-shadow: none;
}
.btn_danger:active {
  box-shadow: inset 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.21);
}
.btn_info {
  display: inline-block;
  padding: 2rem 6rem;
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0 0 #1c5f8a, inset -0.3125rem 0 3.125rem 0 rgba(0, 0, 0, 0.1);
  background-color: #2980b9;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #2980b9, #2980b9);
  cursor: pointer;
}
.btn_info:hover {
  box-shadow: none;
}
.btn_info:active {
  box-shadow: inset 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.21);
}
.btn_default {
  display: inline-block;
  padding: 2rem 6rem;
  font-family: Roboto, sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fafafa;
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0 0 #1c1c1c, inset -0.3125rem 0 3.125rem 0 rgba(0, 0, 0, 0.1);
  background-color: #454c4d;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #454c4d, #454c4d);
  cursor: pointer;
}
.btn_default:hover {
  box-shadow: none;
}
.btn_default:active {
  box-shadow: inset 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.21);
}
.btn_hover {
  box-shadow: none;
  background-image: none;
}
.btn_active {
  box-shadow: inset 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.21);
  background-image: none;
}

.checkbox_success + label {
  display: block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: 0.625rem;
  cursor: pointer;
}
.checkbox_success {
  display: none;
}
.checkbox_success + label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: transparent;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  opacity: 0.2;
  background-color: #e8ebec;
}
.checkbox_success:checked + label:before {
  background-color: #27ae60;
  border: 0;
  color: #fff;
  opacity: 1;
  border-radius: 0.3125rem;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to bottom, #27ae60, #27ae60);
}
.checkbox_success:checked:disabled + label:before {
  background-color: #27ae60;
  border-color: #27ae60;
  opacity: 0.5;
}
.checkbox_warning + label {
  display: block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: 0.625rem;
  cursor: pointer;
}
.checkbox_warning {
  display: none;
}
.checkbox_warning + label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: transparent;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  opacity: 0.2;
  background-color: #e8ebec;
}
.checkbox_warning:checked + label:before {
  background-color: #f1c40f;
  border: 0;
  color: #fff;
  opacity: 1;
  border-radius: 0.3125rem;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to bottom, #f1c40f, #f1c40f);
}
.checkbox_warning:checked:disabled + label:before {
  background-color: #f1c40f;
  border-color: #f1c40f;
  opacity: 0.5;
}
.checkbox_danger + label {
  display: block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: 0.625rem;
  cursor: pointer;
}
.checkbox_danger {
  display: none;
}
.checkbox_danger + label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: transparent;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  opacity: 0.2;
  background-color: #e8ebec;
}
.checkbox_danger:checked + label:before {
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  opacity: 1;
  border-radius: 0.3125rem;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to bottom, #e74c3c, #e74c3c);
}
.checkbox_danger:checked:disabled + label:before {
  background-color: #e74c3c;
  border-color: #e74c3c;
  opacity: 0.5;
}
.checkbox_info + label {
  display: block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: 0.625rem;
  cursor: pointer;
}
.checkbox_info {
  display: none;
}
.checkbox_info + label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: transparent;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  opacity: 0.2;
  background-color: #e8ebec;
}
.checkbox_info:checked + label:before {
  background-color: #2980b9;
  border: 0;
  color: #fff;
  opacity: 1;
  border-radius: 0.3125rem;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to bottom, #2980b9, #2980b9);
}
.checkbox_info:checked:disabled + label:before {
  background-color: #2980b9;
  border-color: #2980b9;
  opacity: 0.5;
}
.checkbox_default + label {
  display: block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  margin-top: 0.625rem;
  cursor: pointer;
}
.checkbox_default {
  display: none;
}
.checkbox_default + label:before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 2.1875rem;
  height: 2.1875rem;
  padding: 0.625rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: transparent;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  opacity: 0.2;
  background-color: #e8ebec;
}
.checkbox_default:checked + label:before {
  background-color: #454c4d;
  border: 0;
  color: #fff;
  opacity: 1;
  border-radius: 0.3125rem;
  box-shadow: inset 0 0 0 0.0625rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to bottom, #454c4d, #454c4d);
}
.checkbox_default:checked:disabled + label:before {
  background-color: #454c4d;
  border-color: #454c4d;
  opacity: 0.5;
}

.pagination {
  margin-top: 6.25rem;
}
.pagination__lists {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.pagination__caption {
  margin-top: 7.5rem;
  margin-bottom: 0;
}
.pagination_success {
  display: inline-block;
}
.pagination_success__link {
  display: inline-block;
  box-sizing: border-box;
  width: 3.125rem;
  height: 3.125rem;
  margin: 1.25rem auto auto;
  border-radius: 0.2875rem;
  color: #454c4d;
  text-decoration: none;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  box-shadow: 0 0.0625rem 0 0.0625rem #c3c3c3, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), white), linear-gradient(to bottom, #e7eaeb, #e7eaeb);
}
.pagination_success__link:hover, .pagination_success__link_hover {
  background-color: #ddd;
  box-shadow: none;
  background-image: none;
}
.pagination_success__link_active {
  box-shadow: 0 0.0625rem 0 0.0625rem #27ae60, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #27ae60, #27ae60);
  color: white;
}
.pagination_success__link_active:hover, .pagination_success__link_active_hover {
  box-shadow: none;
  background-image: none;
  background-color: #168c48;
  color: white;
}
.pagination_success__icon_right:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_success__icon:hover, .pagination_success__icon_hover {
  background-color: #cacfd2;
}
.pagination_success__icon_left:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_warning {
  display: inline-block;
}
.pagination_warning__link {
  display: inline-block;
  box-sizing: border-box;
  width: 3.125rem;
  height: 3.125rem;
  margin: 1.25rem auto auto;
  border-radius: 0.2875rem;
  color: #454c4d;
  text-decoration: none;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  box-shadow: 0 0.0625rem 0 0.0625rem #c3c3c3, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), white), linear-gradient(to bottom, #e7eaeb, #e7eaeb);
}
.pagination_warning__link:hover, .pagination_warning__link_hover {
  background-color: #ddd;
  box-shadow: none;
  background-image: none;
}
.pagination_warning__link_active {
  box-shadow: 0 0.0625rem 0 0.0625rem #f1c40f, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #f1c40f, #f1c40f);
  color: white;
}
.pagination_warning__link_active:hover, .pagination_warning__link_active_hover {
  box-shadow: none;
  background-image: none;
  background-color: #cca60d;
  color: white;
}
.pagination_warning__icon_right:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_warning__icon:hover, .pagination_warning__icon_hover {
  background-color: #cacfd2;
}
.pagination_warning__icon_left:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_danger {
  display: inline-block;
}
.pagination_danger__link {
  display: inline-block;
  box-sizing: border-box;
  width: 3.125rem;
  height: 3.125rem;
  margin: 1.25rem auto auto;
  border-radius: 0.2875rem;
  color: #454c4d;
  text-decoration: none;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  box-shadow: 0 0.0625rem 0 0.0625rem #c3c3c3, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), white), linear-gradient(to bottom, #e7eaeb, #e7eaeb);
}
.pagination_danger__link:hover, .pagination_danger__link_hover {
  background-color: #ddd;
  box-shadow: none;
  background-image: none;
}
.pagination_danger__link_active {
  box-shadow: 0 0.0625rem 0 0.0625rem #e74c3c, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #e74c3c, #e74c3c);
  color: white;
}
.pagination_danger__link_active:hover, .pagination_danger__link_active_hover {
  box-shadow: none;
  background-image: none;
  background-color: #aa3428;
  color: white;
}
.pagination_danger__icon_right:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_danger__icon:hover, .pagination_danger__icon_hover {
  background-color: #cacfd2;
}
.pagination_danger__icon_left:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_info {
  display: inline-block;
}
.pagination_info__link {
  display: inline-block;
  box-sizing: border-box;
  width: 3.125rem;
  height: 3.125rem;
  margin: 1.25rem auto auto;
  border-radius: 0.2875rem;
  color: #454c4d;
  text-decoration: none;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  box-shadow: 0 0.0625rem 0 0.0625rem #c3c3c3, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), white), linear-gradient(to bottom, #e7eaeb, #e7eaeb);
}
.pagination_info__link:hover, .pagination_info__link_hover {
  background-color: #ddd;
  box-shadow: none;
  background-image: none;
}
.pagination_info__link_active {
  box-shadow: 0 0.0625rem 0 0.0625rem #2980b9, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #2980b9, #2980b9);
  color: white;
}
.pagination_info__link_active:hover, .pagination_info__link_active_hover {
  box-shadow: none;
  background-image: none;
  background-color: #1c5f8a;
  color: white;
}
.pagination_info__icon_right:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_info__icon:hover, .pagination_info__icon_hover {
  background-color: #cacfd2;
}
.pagination_info__icon_left:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_default {
  display: inline-block;
}
.pagination_default__link {
  display: inline-block;
  box-sizing: border-box;
  width: 3.125rem;
  height: 3.125rem;
  margin: 1.25rem auto auto;
  border-radius: 0.2875rem;
  color: #454c4d;
  text-decoration: none;
  text-align: center;
  line-height: 3.125rem;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  box-shadow: 0 0.0625rem 0 0.0625rem #c3c3c3, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), white), linear-gradient(to bottom, #e7eaeb, #e7eaeb);
}
.pagination_default__link:hover, .pagination_default__link_hover {
  background-color: #ddd;
  box-shadow: none;
  background-image: none;
}
.pagination_default__link_active {
  box-shadow: 0 0.0625rem 0 0.0625rem #454c4d, inset 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.3)), linear-gradient(to bottom, #454c4d, #454c4d);
  color: white;
}
.pagination_default__link_active:hover, .pagination_default__link_active_hover {
  box-shadow: none;
  background-image: none;
  background-color: #1c1c1c;
  color: white;
}
.pagination_default__icon_right:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}
.pagination_default__icon:hover, .pagination_default__icon_hover {
  background-color: #cacfd2;
}
.pagination_default__icon_left:before {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

.tab {
  display: inline-block;
  font-size: 0;
  margin-right: 1.25rem;
}
.tab_full {
  margin-right: 0;
}
.tab__link {
  display: inline-block;
  text-decoration: none;
  padding: 1.125rem 1.875rem;
  color: #bdc3c7;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.89375rem;
  font-weight: 600;
  line-height: normal;
}
.tab__link_full {
  background-color: #ffffff;
  color: #7f8c8d;
  border-top: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-bottom: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-right: 0.0625rem solid rgba(202, 207, 210, 0.5);
}
.tab__link_active {
  color: #454c4d;
  border-bottom: 0.25rem solid none;
}
.tab__link_active_full {
  background-color: none;
  color: #ffffff;
  border: 0.0625rem solid none;
}
.tab_success {
  display: inline-block;
  font-size: 0;
  margin-right: 1.25rem;
}
.tab_success_full {
  margin-right: 0;
}
.tab_success__link {
  display: inline-block;
  text-decoration: none;
  padding: 1.125rem 1.875rem;
  color: #bdc3c7;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.89375rem;
  font-weight: 600;
  line-height: normal;
}
.tab_success__link_full {
  background-color: #ffffff;
  color: #7f8c8d;
  border-top: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-bottom: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-right: 0.0625rem solid rgba(202, 207, 210, 0.5);
}
.tab_success__link_active {
  color: #454c4d;
  border-bottom: 0.25rem solid #27ae60;
}
.tab_success__link_active_full {
  background-color: #27ae60;
  color: #ffffff;
  border: 0.0625rem solid #27ae60;
}
.tab_warning {
  display: inline-block;
  font-size: 0;
  margin-right: 1.25rem;
}
.tab_warning_full {
  margin-right: 0;
}
.tab_warning__link {
  display: inline-block;
  text-decoration: none;
  padding: 1.125rem 1.875rem;
  color: #bdc3c7;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.89375rem;
  font-weight: 600;
  line-height: normal;
}
.tab_warning__link_full {
  background-color: #ffffff;
  color: #7f8c8d;
  border-top: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-bottom: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-right: 0.0625rem solid rgba(202, 207, 210, 0.5);
}
.tab_warning__link_active {
  color: #454c4d;
  border-bottom: 0.25rem solid #f1c40f;
}
.tab_warning__link_active_full {
  background-color: #f1c40f;
  color: #ffffff;
  border: 0.0625rem solid #f1c40f;
}
.tab_danger {
  display: inline-block;
  font-size: 0;
  margin-right: 1.25rem;
}
.tab_danger_full {
  margin-right: 0;
}
.tab_danger__link {
  display: inline-block;
  text-decoration: none;
  padding: 1.125rem 1.875rem;
  color: #bdc3c7;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.89375rem;
  font-weight: 600;
  line-height: normal;
}
.tab_danger__link_full {
  background-color: #ffffff;
  color: #7f8c8d;
  border-top: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-bottom: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-right: 0.0625rem solid rgba(202, 207, 210, 0.5);
}
.tab_danger__link_active {
  color: #454c4d;
  border-bottom: 0.25rem solid #e74c3c;
}
.tab_danger__link_active_full {
  background-color: #e74c3c;
  color: #ffffff;
  border: 0.0625rem solid #e74c3c;
}
.tab_info {
  display: inline-block;
  font-size: 0;
  margin-right: 1.25rem;
}
.tab_info_full {
  margin-right: 0;
}
.tab_info__link {
  display: inline-block;
  text-decoration: none;
  padding: 1.125rem 1.875rem;
  color: #bdc3c7;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.89375rem;
  font-weight: 600;
  line-height: normal;
}
.tab_info__link_full {
  background-color: #ffffff;
  color: #7f8c8d;
  border-top: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-bottom: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-right: 0.0625rem solid rgba(202, 207, 210, 0.5);
}
.tab_info__link_active {
  color: #454c4d;
  border-bottom: 0.25rem solid #2980b9;
}
.tab_info__link_active_full {
  background-color: #2980b9;
  color: #ffffff;
  border: 0.0625rem solid #2980b9;
}
.tab_default {
  display: inline-block;
  font-size: 0;
  margin-right: 1.25rem;
}
.tab_default_full {
  margin-right: 0;
}
.tab_default__link {
  display: inline-block;
  text-decoration: none;
  padding: 1.125rem 1.875rem;
  color: #bdc3c7;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.89375rem;
  font-weight: 600;
  line-height: normal;
}
.tab_default__link_full {
  background-color: #ffffff;
  color: #7f8c8d;
  border-top: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-bottom: 0.0625rem solid rgba(202, 207, 210, 0.5);
  border-right: 0.0625rem solid rgba(202, 207, 210, 0.5);
}
.tab_default__link_active {
  color: #454c4d;
  border-bottom: 0.25rem solid #454c4d;
}
.tab_default__link_active_full {
  background-color: #454c4d;
  color: #ffffff;
  border: 0.0625rem solid #454c4d;
}

.main {
  background-color: #f3f3f3;
  border: 0.0625rem solid transparent;
}

.caption {
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.caption_bold {
  font-weight: bold;
}

.container {
  width: 82%;
  margin: 1.25rem auto;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
