*:focus{
  outline: rgba(255,255,255, 0.3) solid 1px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}



.graph {
  background: url("../../images/Graph.png");
  height: @rem*65;
}

.input {
  display: flex;
  margin-top: @rem*65;
  align-items: center;
  width: @rem*300;
  flex-wrap: wrap;
  justify-content: space-between;
  &__label{
    .font(@font-caption);
    color: @beefsteak;
    position: relative;
    &--work-time{
      .circle(@work);
    }
    &--work-iteration{
      .circle(@other);
    }
    &--short-break{
      .circle(@education);
    }
    &--long-break{
      .circle(@hobby);
    }
  }
  &__description {
    .font(@font-caption);
    color: @alicante;
    width: 100%;
  }
  &__highlighted {
    color:@beefsteak;
    font-style: normal;
  }
  &__number {
    display: flex;
    justify-content: space-between;
    border-bottom: @rem*1 solid @alicante;
    width: @rem*100;
    margin-right: @rem*80;
    margin-left: auto;

&:hover{
  border-color: @hanover;
}
    &:hover .number__input{
      color: @beefsteak;
    }
  }
}



.number {
  &__input {
    text-align: center;
    flex-grow: 2;
    padding-bottom:@rem*5;
    background:transparent;
    border: 0;
    .font(@font-paragraph);
    color: @alicante;
  }

  &__step{
    padding-bottom:@rem*5;
    background: none;
    border:0;
    position: relative;
    cursor: pointer;
    color: @alicante;
    &:hover{
      color: @hanover;
    }
    &--up{
      padding-left: @rem*20;
      &::before{
        position: absolute;
        .icon(@icon-add);
        transform: translate(-50%, -50%);
      }
    }
    &--down{
      padding-right: @rem*20;
      &::before{
        position: absolute;
        .icon(@icon-minus);
        transform: translate(-50%, -50%);
      }
    }
  }
}




html, body {
  margin: 0;
  background-color: @adoration;
}

.logo__image {
  max-width: 100%;
  height: auto;
}

.logo_link {
  width: @rem*247;
  height: auto;
}

.buttons {
  margin: 0 auto;
  text-align: center;

  &__item {
    display: inline-block;
    background: none;
    border: none;
    .font (@font-button);
    color: @beefsteak;
    padding: @rem*10 @rem*25;
    background: red;
    min-width: @rem*120;

    .button-bg(success);
    .button-bg(info);
    .button-bg(danger);

    &:first-child {
      margin: 0 @rem*10 0 0;
    }

    &:last-child {
      margin: 0 0 0 @rem*10;
    }
  }
}

.subcaption {
  .font(@font-subtitle2);
  color:@alicante;
  text-align: center;
}

.settings-category {
  &__subcaption {
    margin: @rem*10 0 0 0;
  }
  &__list{
    margin:@rem*73 0 0;
    padding:0;
    list-style-type: none;
    padding-left: @rem*50;
  };
  &__item {
    &:first-child {
      margin-top:0;
    }
    padding-bottom: @rem*10;
    border-bottom: @rem*1 solid @alicante;
    max-width: @rem*245;
    margin: @rem*34 auto 0;
    position: relative;
    .font(@font-paragraph);
    color: @alicante;
    &--work{
      .circle(@work;)
    }
    &--education{
      .circle(@education;)
    }
    &--hobby{
      .circle(@hobby;)
    }
    &--sport{
      .circle(@sport;)
    }
    &--other{
      .circle(@other;)
    }
  }
  &__buttons {
    margin-top: @rem*97;
  }
}

.settings-pomodoro{
  &__buttons {
    margin-top:@rem*43;
  }
  &__subcaption {
    margin: @rem*10 0 0 0;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: @rem*750;
    margin: 0 auto;
    padding: 0;
  }
  &__caption {
    .font(@font-caption2);
    color: @beefsteak;
    text-align: center;
    margin-top: @rem*80;
  }
}

.menu {
  font-size: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;
    margin: 0 @rem*30 0 0;
    padding: 0;
    position: relative;
    &--icon-statistics {
      .tooltip();
    }
  }

  &__item:last-child {
    margin: 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: @rem*15;
    color: @alicante;

    &--icon-trash {
      position: relative;

      &::before {
        .icon(@icon-trash);
      }
    }

    &--icon-list {
      position: relative;

      &::before {
        .icon(@icon-list);
      }
    }

    &--icon-statistics {
      position: relative;

      &::before {
        .icon(@icon-statistics);
      }
    }

    &--icon-settings {
      position: relative;

      &::before {
        .icon(@icon-settings);
      }
    }
  }

  &__link:hover,
  &__link:focus,
  &__link:active {
    color: @hanover;
  }

  &__link--active {
    color: @beefsteak;
  }
}

.tab {
  padding: 0;
  margin: 0;
  display: flex;

  &__item {
    list-style-type: none;
    margin: 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: @alicante;
    padding: 0 @rem*10;
    border-right: @rem*1 @alicante solid;
    .font(@font-caption);
    line-height: @rem*14;
  }

  &__item:last-child &__link {
    border-right: 0;
    padding-right: 0;
  }

  &__item:first-child &__link {
    padding-left: 0;

  }

  &__link--active {
    color: @beefsteak;
  }

  &__link:hover,
  &__link:focus,
  &__link:active {
    list-style-type: none;
    margin: 0;
    color: @hanover;
  }

  &--remove {
    display: none;
  }

  &--remove-mode {
    display: flex;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 6.73%;
  padding-right: 6.73%;
}

.header {
  box-shadow: 0 @rem*5 @rem*8.3 @rem*1.7 rgba(34, 56, 73, 1);
  background-color: @adoration;
  width: 100%;
  position: fixed;
  z-index: 100;

  &--no-sticky {
    position: static;
    box-shadow: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: @rem*27;
    padding-bottom: @rem*27;

    &--no-sticky {
      padding-top: @rem*56;
      padding-bottom: @rem*21;
      position: static;
      justify-content: flex-end;
    }
  }

  &__logo {
    margin: 0;

    &--no-sticky {
      display: none;
    }
  }
}

.navigation {
}

.tasks {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;

  &__item {
    list-style-type: none;
  }

  &__item--caption {
    .font(@font-heading-2);
    margin-left: @rem*20;
    margin-bottom: @rem*15;
    line-height: 1;
  }

  &--work {
    .global-list-decor(@work);
  }

  &--education {
    .global-list-decor(@education);
  }

  &--hobby {
    .global-list-decor(@hobby);
  }

  &--sport {
    .global-list-decor(@sport);
  }

  &--other {
    .global-list-decor(@other);
  }

}

.page {
  background-color: @adoration;
  margin: 0;
  padding-top: @rem*136;

  &--no-sticky {
    padding-top: 0;
  }

  &__add-button {
    vertical-align: @rem*5;
    font-size: @rem*15;
    margin-left: @rem*19;
    border: 0;
    background: none;
    color: @beefsteak;
    padding: 0;
  }

  &__add-button::before {
    .icon(@icon-add);
  }

  &__caption {
    margin: 0;
    text-align: center;
    .font(@font-heading-1);
    color: @beefsteak;
  }
  &__item {
    position: relative;
  }
  &__toggle {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top:@rem*34;
    text-align: right;
  }

}

.daily {
  &__tasks-list {
    margin-top: @rem*20;
  }

  &__nav {
    justify-content: flex-end;
    margin-top: @rem*35;
    display: flex;

    &--remove-mode {
      justify-content: space-between;
    }
  }

  .task__shift {
    display: none;
  }

  &__message {
    position: relative;
    margin-top: @rem*40;
    margin-bottom: @rem*120 - @rem*40;
    .font(@font-message);
    color: @alicante;
    text-align: center;

    &--drag {
      &:before {
        .icon(@icon-arrow_circle);
        position: absolute;
        bottom: @rem*-30;
        left: 50%;
        transform: translate(-50%, 100%);
        font-size: @rem*60;
      }
    }
  }
}


.task {
  margin-bottom: @rem*9;
  min-height: @rem*87;
  display: flex;
  vertical-align: middle;
  background-color: @beefsteak;
  position: relative;
  box-shadow: 0 @rem*5 @rem*8.3 @rem*1.7 rgba(34, 56, 73, 1);


  &:last-child {
    margin-bottom: 0;
  }

  &--urgent {
    .task-modifier-priority (urgent);
  }

  &--high {
    .task-modifier-priority (high);
  }

  &--middle {
    .task-modifier-priority (middle);
  }

  &--low {
    .task-modifier-priority (low);
  }

  &--work {
    .task-modifier-category (work);
  }

  &--education {
    .task-modifier-category (education);
  }

  &--hobby {
    .task-modifier-category (hobby);
  }

  &--sport {
    .task-modifier-category (sport);
  }

  &--other {
    .task-modifier-category (other);
  }

  &--done {
    opacity: 0.8;

    .task__caption {
      text-decoration: line-through;
    }

    .task__edit-tools {
      display: none;

    }

    .task__toggle {
      opacity: 1;
    }

    .task__indicator:hover:before {
      .icon(@icon-tomato);
      color: @beefsteak;
    }

    .task__indicator:hover {
      color: @beefsteak;
    }

    .task__indicator {
      cursor: default;
    }
  }


  &--delete {
    .task__delete {
      width: 100%;

    }

    position: relative;

    .task__delete:before {
      .icon(@icon-trash);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
      font-size: @rem*45;
      color: @beefsteak;
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }

  &--delete-checked {
    .task__delete:before {
      content: @icon-close;
    }
  }

  &--overdue {
    .task__date {
      color: @plumer;
    }
  }

  &__toggle {
    position: relative;
    min-width: @rem*94;
    margin: 0;
    text-align: center;
  }

  &__date {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 60%;
    margin: 0;
    color: @bigbeef;
    .font(@font-task-date);
  }

  &__date-day {
    font-size: @rem*27;
    display: block;
    text-align: center;
  }

  &__delete {
    width: @rem*9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    transition-timing-function: ease;
    transition: width 1s;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: @rem*87;
    width: 100%;
    position: relative;
    margin-left: @rem*15;
  }

  &__caption {
    display: block;
    margin: 0;
    .font(@font-heading-3);
  }

  &__details {
    display: block;
    margin: 0;
    padding-top: @rem*5;
    .font(@font-paragraph);
    color: @brandywine;
  }

  &__edit-tools {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    padding: @rem*10 0;
  }

  &__indicator {
    position: relative;
    border: 0;
    margin: 0;
    min-width: @rem*87;
    background-color: red;
    .font(@font-indicator);
    color: @beefsteak;
    padding-top: @rem*10;
    cursor: pointer;
  }

  &__indicator:hover {
    color: transparent;
  }

  &__indicator:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: @rem*50;
    color: @beefsteak;
    .icon(@icon-tomato);
  }

  &__indicator:hover:before {
    .icon(@icon-timer);
  }

  &__edit {
    display: block;
    color: @azoychka;
    font-size: @rem*16;
    cursor: pointer;
    border: 0;
    background: none;
    position: relative;
    padding: 0 @rem*35;
    width: @rem*16;
    height: @rem*16;

    &:before {
      transform: translate(-50%, -50%);
      .icon(@icon-edit);
      position: absolute;
    }

    &:hover,
    &:active {
      color: @alicante;
    }

    &:focus {
      color: @hanover;
    }
  }

  &__shift {
    width: @rem*16;
    height: @rem*16;
    display: block;
    color: @azoychka;
    font-size: @rem*16;
    cursor: pointer;
    border: 0;
    background: none;
    position: relative;
    padding: 0 @rem*35;

    &:before {
      transform: translate(-50%, -50%);
      .icon(@icon-arrows-up);
      position: absolute;
    }

    &:hover,
    &:active {
      color: @alicante;
    }

    &:focus {
      color: @hanover;
    }
  }
}

.open-button {
  padding: 0;
  background: none;
  border: none;
  position: relative;
  .font(@font-caption2);
  .colors-for-links ();
  line-height: 1;
  cursor: pointer;

  &__icon:before {
    .icon(@icon-global-list-arrow-right);
    font-size: @rem*11;
  }

  &__icon--active:before {
    .icon(@icon-global-list-arrow-down);
    font-size: @rem*11;
  }
}

.global {
  padding-top: @rem*40;
  padding-bottom: @rem*40;

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__caption {
    margin: 0;
    padding: 0;
    line-height: 0;
  }

  &__tasks-list {
    margin-top: @rem*25;
  }

  &__filter {
    display: none;

    &--active {
      display: flex;
    }
  }

  &__tasks {
    display: none;
  }

  &__tasks--active {
    display: block;
  }

  &__remove {
    margin-top: @rem*25;
  }


}

.trash {
  &__count {
    display: none;
    position: absolute;
    background-color: @plumer;
    top: @rem*7;
    left: @rem*8;
    text-align: center;
    font-size: @rem*14;
    border-radius: @rem*14;
    color: @beefsteak;
    min-width: @rem*14;
    height: @rem*14;
    padding: @rem*3;
    line-height: 1;
    font-family: @font-family-roboto;
    font-weight: 700;

    &--remove-mode {
      display: block;
    }
  }

}

.stub {
  &__img {
    display: block;
    margin: @rem*127 auto 0 auto;
    text-align: center;
    height: @rem*162;
    width: auto;
  }

  &__choose {
    margin-top: @rem*81;
    padding-bottom: @rem*56;
  }

  &__message {
    margin: @rem*80 auto 0 auto;
    text-align: center;
    .font(@font-message);
    color: @alicante;
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &__item {
    border-bottom: @rem*1 solid @alicante;
    margin-bottom:@rem*29;
    padding-bottom: @rem*7;
    &:last-child{
      margin-bottom:0;
    }
  }
&__content {
    top: @rem*50;
    left: 50%;
    transform: translate(-50%, 0);
    position:absolute;
    background: @adoration;
    margin: auto;
    padding: @rem*45;
    width:@rem*410;
    height: @rem*540;
}
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__field {
    border:0;
    padding:0;

  }
  &__text-input{
    display: inline-block;
    width: 100%;
    background: none;
    border:0;
  .font(@font-paragraph);
    color: @beefsteak;
    &::-webkit-input-placeholder {
      color: @alicante;
    }
    &::-moz-placeholder {
      color: @alicante;
    }
    &:-ms-input-placeholder {
      color: @alicante;
    }
  }
  &__title {
    display: inline-block;
    width: 100%;
    .font(@font-caption);
    color: @beefsteak;
    padding-bottom: @rem*10;

    &--small {
      display: inline;
      width: auto;
      padding-left: @rem*25;
      color: @alicante;
      position: relative;

      &:hover {
        color: @hanover;
      }


      &:before {
        background: @alicante;
        content: "";
        width: 5px;
        height: 5px;
        display: block;
        position: absolute;
        left: @rem*10;
        top: @rem*4;
        transform: translate(-50%, 0);
        border-radius: 50%;
        border: @rem*2 solid @alicante;
        box-shadow: 0 0 0 @rem*4 @alicante;
      }
    }
  }

  &__caption {
    text-align: center;
  .font(@font-heading-1);
    color: @beefsteak;
    margin:0;
  }
  &__estimate {
    display: inline-block;
    position: relative;
    width:20px;
    height: 20px;
    margin:0;

  }
  &__estimate:before {
    top:0;
    left:0;
    position: absolute;
    content:"";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/empty-tomato.svg");
  }
  &__pomodoro:checked + &__estimate:before{
    background: url("../../images/fill tomato.svg");
  }
  &__pomodoro--checked + &__estimate:before{
    background: url("../../images/fill tomato.svg");
  }
  &__close {
    position: absolute;
    background: none;
    top: @rem*15;
    right: @rem*50;
    width: @rem*20;
    height: @rem*20;
    border:0;
    &::before{
      position: absolute;
      .icon(@icon-close);
      transform: translate(-50%, -50%);
      font-size: @rem*20;
    }
    & {
      color: @alicante;
    }
    &:hover::before,
    &:focus::before,
    &:active::before {
      color: @hanover;
    }
    &--remove-task {
        right: @rem*15;
    }
  }
  &__submit {
    position: absolute;
    background: none;
    top: @rem*15;
    right: @rem*15;
    width: @rem*20;
    height: @rem*20;
    border:0;
    &::before{
      position: absolute;
      .icon(@icon-check);
      transform: translate(-50%, -50%);
      font-size: @rem*20;
    }
    & {
      color: @alicante;
    }
    &:hover::before,
    &:focus::before,
    &:active::before {
      color: @hanover;
    }
  }
  &__remove {
    position: absolute;
    background: none;
    top: @rem*15;
    left: @rem*15;
    width: @rem*20;
    height: @rem*20;
    border:0;
    &::before{
      position: absolute;
      .icon(@icon-trash);
      transform: translate(-50%, -50%);
      font-size: @rem*20;
    }
    & {
      color: @alicante;
    }
    &:hover::before,
    &:focus::before,
    &:active::before {
      color: @hanover;
    }
  }
  &__form {
    margin:0;
    padding:0;
  }
  &__message{
    .font(@font-message);
    color: @alicante;
    margin: @rem*155 auto 0;
    text-align: center;
    width: 90%;
  }
  &__removecancel {
  margin-top: @rem*180;
}
}

input[type="radio"]{
display:none;
}

.radio(other);
.radio(work);
.radio(education);
.radio(hobby);
.radio(sport);
.radio(high);
.radio(urgent);
.radio(middle);
.radio(low);
.hidden {
  display: none;
}
