*:focus{
  outline: rgba(255,255,255, 0.3) solid @rem*1;
}

html, body {
  margin: 0;
  background-color: @adoration;
}

.sr-only {
  position: absolute;
  width: @rem*1;
  height: @rem*1;
  padding: 0;
  margin: @rem*-1;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="radio"]{
  display:none;
}

.graph {
  height: @rem*65;
  background: url("../../images/Graph.png");
}

.input {
  display: flex;
  margin-top: @rem*65;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: @rem*300;

  &__label{
    position: relative;
    .font(@font-caption);
    color: @beefsteak;

    &--work-time{
      .circle(@work);
    }

    &--work-iteration{
      .circle(@other);
    }

    &--short-break{
      .circle(@education);
    }

    &--long-break{
      .circle(@hobby);
    }
  }

  &__description {
    width: 100%;
    .font(@font-caption);
    color: @alicante;
  }

  &__highlighted {
    font-style: normal;
    color:@beefsteak;
  }

  &__number {
    display: flex;
    justify-content: space-between;
    width: @rem*100;
    margin-right: @rem*80;
    margin-left: auto;
    border-bottom: @rem*1 solid @alicante;

&:hover{
  border-color: @hanover;
}

    &:hover .number__input{
      color: @beefsteak;
    }
  }
}

.logo__image {
  max-width: 100%;
  height: auto;
}

.logo__link {
  width: @rem*247;
  height: auto;
}

.buttons {
  margin: 0 auto;
  text-align: center;

  &__item {
    display: inline-block;
    background: none;
    border: none;
    padding: @rem*10 @rem*25;
    .font (@font-button);
    color: @beefsteak;
    min-width: @rem*120;
    .button-bg(success);
    .button-bg(info);
    .button-bg(danger);

    &:first-child {
      margin: 0 @rem*10 0 0;
    }

    &:last-child {
      margin: 0 0 0 @rem*10;
    }
  }
}

.subcaption {
  .font(@font-subtitle2);
  color:@alicante;
  text-align: center;
}



.tab {
  display: flex;
  padding: 0;
  margin: 0;

  &__item {
    list-style-type: none;
    margin: 0;
  }

  &__link {
    display: block;
    padding: 0 @rem*10;
    text-decoration: none;
    color: @alicante;
    border-right: @rem*1 @alicante solid;
    .font(@font-caption);
    line-height: @rem*14;
  }

  &__item:last-child &__link {
    border-right: 0;
    padding-right: 0;
  }

  &__item:first-child &__link {
    padding-left: 0;
  }

  &__link--active {
    color: @beefsteak;
  }

  &__link:hover,
  &__link:focus,
  &__link:active {
    list-style-type: none;
    margin: 0;
    color: @hanover;
  }

  &--remove {
    display: none;
  }

  &--remove-mode {
    display: flex;
  }
}

.container {
  max-width: @rem*1440;
  margin: 0 auto;
  padding-left: 6.73%;
  padding-right: 6.73%;
}
.page {
  margin: 0;
  padding-top: @rem*136;
  background-color: @adoration;

  &--no-sticky {
    padding-top: 0;
  }

  &__add-button {
    margin-left: @rem*19;
    vertical-align: @rem*5;
    font-size: @rem*15;
    border: 0;
    background: none;
    color: @beefsteak;
    padding: 0;

    &:hover,
    &:focus {
      color: @hanover;
    }
  }

  &__add-button::before {
    .icon(@icon-add);
  }

  &__caption {
    margin: 0;
    text-align: center;
    .font(@font-heading-1);
    color: @beefsteak;
  }

  &__item {
    position: relative;
  }
  &__toggle {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top:@rem*34;
    text-align: right;

    &--reports {
      justify-content: center;
    }
  }
}
.radio(other);
.radio(work);
.radio(education);
.radio(hobby);
.radio(sport);
.radio(high);
.radio(urgent);
.radio(middle);
.radio(low);

.arrow {
  &__item{
    top:50%;
    position:absolute;
    left:@rem*10;
    display:block;
    width:@rem*48;
    height:@rem*4;
    background:@alicante;
    transform-origin: left;

    &--top {
      transform: rotate(45deg) translate(0, 50%);
    }

    &--bottom {
      transform: rotate(-45deg) translate(-8%, 50%);
    }

    &--right {
      transform-origin: right;
      transform: rotate(45deg) translate(8%, 50%);
    }

    &--left {
      transform-origin: right;
      transform: rotate(-45deg) translate(0, 50%);
    }
  }
}

.notification {
  position: absolute;
  right:0;
  bottom:@rem*30;
  display:flex;
  margin-right: 6.73%;
  align-items:center;
  width:@rem*550;
  height: @rem*65;
  border-style: solid;
  border-width: @rem*1;
  border-color: @beefsteak;
  border-radius: @rem*2;
  box-shadow: 0 @rem*18 @rem*30.72 @rem*1.28 rgba(0, 0, 0, 0.2);

  &__message {
    margin: 0 auto 0 @rem*100;
    .font(@font-button);
    color: @beefsteak;
    text-align: center;
    line-height: @rem*18;
  }

  &--info{
    background: @san;

    .notification__indicator {
      background:fade(@beefsteak,20%);
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        .icon(@icon-tomato-info);
        font-size: @rem*40;
        transform: translate(-50%, -50%);
        color: @beefsteak;
      }
    }
  }

  &--warning{
    background: @high;

    .notification__indicator {
      background:fade(@beefsteak,20%);
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        .icon(@icon-tomato-info);
        font-size: @rem*40;
        transform: translate(-50%, -50%);
        color: @beefsteak;
      }
    }
  }

  &--error {
    background: @urgent;

    .notification__indicator {
      background: fade(@beefsteak, 20%);

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        .icon(@icon-tomato-error);
        font-size: @rem*40;
        transform: translate(-50%, -50%);
        color: @beefsteak;
      }
    }
  }

  &--success{
    background: @campari;
    .notification__indicator {
      background:fade(@beefsteak,20%);
      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        .icon(@icon-tomato-success);
        font-size: @rem*40;
        transform: translate(-50%, -50%);
        color: @beefsteak;
      }
    }
  }

  &__indicator {
    position: absolute;
    left:0;
    width:@rem*80;
    display: block;
    height: 100%;
  }

  &__close-button{
    position: absolute;
    background: none;
    top: 50%;
    right: @rem*20;
    width: @rem*30;
    height: @rem*30;
    border:0;
    transform: translate(0, -50%);

    &::before{
      position: absolute;
      .icon(@icon-close);
      transform: translate(-50%, -50%);
      font-size: @rem*30;
    }

    & {
      color: @beefsteak;
    }

    &:hover::before,
    &:focus::before,
    &:active::before {
      color: @hanover;
    }
  }
}

.timer {
  &__title {
    margin:0;
    .font(@font-heading-1);
    color: @beefsteak;
    text-align: center;
  }

  &__description{
    .font(@font-subtitle);
    color: @beefsteak;
    text-align: center;
    margin:@rem*25 0 0;
  }

  &__estimates {
    text-align: center;
    margin:@rem*35 auto 0;
  }

  &__estimate {
    position: relative;
    display: inline-block;
    padding-right: @rem*10;
    width:@rem*25;
    height: @rem*25;
    margin:0;
    background: url("../../images/empty-tomato.svg")  no-repeat;
  }

  &__estimate--success {
    background: url("../../images/fill tomato.svg") no-repeat;
  }

  &__estimate--failed {
    background: url("../../images/tomato-failed.svg") no-repeat;
  }
  &__dial{
    position: relative;
    margin: @rem*65 auto 0;
    width:@rem*254;
    height:@rem*254;
    border-radius: 50%;
    border: @rem*6 solid @high;
    box-shadow: 0 @rem*5 @rem*83 @rem*17 rgba(21, 43, 59, 0.25);
  }

  &__message {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    width: @rem*160;
    height: @rem*160;
    border-radius: 50%;
    background: @adoration;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: @rem*254;
    height: @rem*254;
    transform: translate(-50%, -50%) rotate(270deg);

    .circle {
      stroke-dasharray: @rem*660;
      stroke-dashoffset: @rem*388;
      stroke-width: @rem*30;
      stroke: @alicante;
      fill: none;

      &--done{
        stroke-dashoffset: 0;
      }
      &--failed {
        stroke-dashoffset: @rem*100;
      }
    }
  }
&__time-number {
  font-family: @font-family-roboto, sans-serif;
  font-size: @rem*100;
  display:block;
  color: @beefsteak;
  line-height:1;
}

  &__time-basic {
    display:block;
    .font(@font-indicator-timer);
    color: @beefsteak;
    text-align: center;

    &--brake-is-over{
      padding: 0 @rem*38;
    }
  }

&__phase{
  font-size: @rem*15;
  font-family: @font-family-roboto, sans-serif;
  font-weight: normal;
  color: @beefsteak;
}

&__add {
  position: relative;
  border: 0;
  background: none;
  width: @rem*25;
  height: @rem*25;

  &:before {
    position: absolute;
    top:50%;
    left:50%;
    content:"";
    display:block;
    .icon(@icon-add);
    font-size: @rem*15;
    color: @alicante;
    transform: translate(-50%, -50%);
  }

  &:hover:before{
    color:@hanover;
  }
}

  &__buttons{
    margin: @rem*70 0;
  }

  &__goback {
    position: fixed;
    top: 50%;
    left: @rem*36;
    width: @rem*48;
    height: @rem*48*1.5;
    transform: translate(0, -50%);

    &:hover .arrow__item,
    &:focus .arrow__item,
    &:active .arrow__item {
      background: @hanover;
    }

    &--right{
      right:@rem*36;
      left:unset;
    }
  }
}

.hidden {
  display: none !important;
}
